@import "header/header.css";
@import "home/home.css";
@import "details/loading.css";

@font-face {
  font-family: "Billabong";
  src: url("../fonts/Billabong.woff2") format("woff2"),
    url("../fonts//Billabong.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

.container {
  max-width: 975px !important;
  margin: 0 auto;
  padding: 0 !important;
}
